<% @searchs.each do |movie| %>
<div class="row">
  <div class="col-xs-12 col-md-4 text-center">
    <div class="thumbnail">
      <h3 style="ont-size: 25px;"><%= movie.movie_name %></h3>
      <img src=<%= movie.image %>>
      <div class="caption" style="font-size: 17px; height:200px;">
        <p><%= movie.synopsis %></p>
      </div>
      <%= link_to("レビューを書く", "/movies/#{movie.id}") %>
      <!--method:postの記述はルーティングpostを探しにいく-->
      <a href ="review.html">レビューを見る</a>
    </div>
  </div>
<% end %>
</div>