<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="最終課題">
<meta name="viewport" content="width=device-width">
	
<link rel="stylesheet" media="(max-width: 480px)" href="style-480.css">
<!--ファビコン始-->
<link rel="shortcut icon" href="images/QB_open2-thumb-480x270.jpg" type="image/vnd.microsoft.icon" /> 
<link rel="icon" href="images/QB_open2-thumb-480x270.jpg" type="image/vnd.microsoft.icon" />
<!--ファビコン終-->
<title>最終課題</title>
<link rel="stylesheet" media="all" href="css/style.css">
<link rel="stylesheet" media="all" href="css/style2.css">
<link rel="stylesheet" href="dist/css/swiper.css">
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="aaa">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>



<h1 style="
margin-bottom: 10px;
margin-top: 10px;
">映画ランキングサイト</h1>


<div class="mainvisual">
  <div class="mainvisual-inner container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="a" src="/avencers.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/avater.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/beautyandbeast.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/007_skyfall.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/blackpanther.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/Bohemian.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/camera.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/incredibles.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/hobbit_an unexpectedjourney.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/harrypotterand thephilosopher's stone.jpg"></div>
        <div class="swiper-slide"><img class="a" src="/jumanji_welcometothejungle.jpg"></div>
        <div class="swiper-slide"><img class="a" src="images/jurassicpark.jpg"></div>
        
        <!--↑<img class="a"src="images/画像ファイル名">-->
        
      </div><!-- swiper-wrapper -->

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44">
          <path class="arrow arrow-left" d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" />
        </svg>
      </div><!-- swiper-button-prev -->

      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44">
          <path class="arrow arrow-right" d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" />
        </svg>
      </div><!-- swiper-button-next -->
    </div><!-- swiper-container -->
  </div><!-- mainvisual-inner -->
</div><!-- mainvisual -->


 
<section id="saisin">
    <header>
        <h2>最新情報</h2>
    </header>
        <div class="saisin2">
            <p>TOHOシネマズ新宿にてトークショー付き上映の開催が決定いたしました。</p>
            <p>当日は映画評論家の町山智浩さん（予定）をお迎えしてトークショーを実施いたします。</p>
        </div>
</section><!--saisin-->

<div class="main_rank">
        <h2>第1位</h2>
        <form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
        </form>
        <p class="title">ボヘミアンラプソディー</p>
    <img src="/Bohemian.jpg" alt="">
    <!--↑images/Bohemian.jpg" alt=""が元データ-->
	<p>ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！</p>
	<a href ="review.html" class="cp_link">レビューを見る</a>
</div><!-- main_rank -->

<ul class="sub_rank">
    <div class="sub_rank2">
        <h2>第2位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">バーフバリ</p>
            <div class="sub_img"><img src="/baahu.jpg" alt=""></div>
            <!--↑images/baahu.jpg" alt=""が元データ-->
            <p>踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->

    <div class="sub_rank2">
        <h2>第3位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">カメラを止めるな</p>
            <div class="sub_img"><img src="/camera.jpg" alt=""></div>
            <!--↑"images/camera.jpg" alt=""が元データ-->
            <p>やつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->

    <div class="sub_rank2">
        <h2>第4位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">文豪スクレイドッグス</p>
            <div class="sub_img"><img src="/bungo.jpg" alt=""></div>
            <!--↑"images/bungo.jpg" alt=""が元データ-->
            <p>踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ踊るやつ</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->
</ul>

<ul class="sub_rank">
    <div class="sub_rank2">
        <h2>第5位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">バッドジーニアス</p>
            <div class="sub_img"><img src="/jinias.jpg" alt=""></div>
            <!--↑"images/jinias.jpg" alt=""が元データ-->
            <p>ジーザスジーザスジーザスジーザスジーザスジーザスジーザスジーザスジーザスジーザスジーザスジーザスジーザスジーザス</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->
    <div class="sub_rank2">
        <h2>第6位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">万引き家族</p>
            <div class="sub_img"><img src="/manbiki.jpg" alt=""></div>
            <!--↑"images/manbiki.jpg" alt=""が元データ-->
            <p>窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗窃盗</p>
            <p><a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->

    <div class="sub_rank2">
        <h2>第7位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">億男</p>
            <div class="sub_img"><img src="/million.jpg" alt=""></div>
            <!--↑"images/million.jpg" alt=""が元データ-->
            <p>お金欲しいお金欲しいお金欲しいお金欲しいお金欲しいお金欲しいお金欲しいお金欲しいお金欲しいお金欲しいお金欲しいお金欲しい</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->
</ul>

<ul class="sub_rank">
    <div class="sub_rank2">
        <h2>第8位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">夏目友人帳</p>
            <div class="sub_img"><img src="/natsume.jpg" alt=""></div>
            <!--↑"images/natsume.jpg" alt=""が元データ-->
            <p>猫が出てくる猫が出てくる猫が出てくる猫が出てくる猫が出てくる猫が出てくる猫が出てくる猫が出てくる</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->

    <div class="sub_rank2">
        <h2>第9位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">スマホを落としただけなのに</p>
            <div class="sub_img"><img src="/smart.jpg" alt=""></div>
            <!--↑"images/smart.jpg" alt=""が元データ-->
            <p>個人情報流出個人情報流出個人情報流出個人情報流出個人情報流出個人情報流出個人情報流出個人情報流出個人情報流出</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->

    <div class="sub_rank2">
        <h2>第10位</h2>
        <li><form type="get" action="#">
            <div class="evaluation">
                <input id="star1" type="radio" name="star" value="5" />
                <label for="star1"><span class="text">最高</span>★</label>
                <input id="star2" type="radio" name="star" value="4" />
                <label for="star2"><span class="text">良い</span>★</label>
                <input id="star3" type="radio" name="star" value="3" />
                <label for="star3"><span class="text">普通</span>★</label>
                <input id="star4" type="radio" name="star" value="2" />
                <label for="star4"><span class="text">悪い</span>★</label>
                <input id="star5" type="radio" name="star" value="1" />
                <label for="star5"><span class="text">最悪</span>★</label>
            </div><!-- evaluation -->
            </form>
            <p class="title">ヴェノム</p>
            <div class="sub_img"><img src="/venom.jpg" alt=""></div>
            <!--↑"images/venom.jpg" alt=""が元データ-->
            <p>スパイダーマッ！スパイダーマッ！スパイダーマッ！スパイダーマッ！スパイダーマッ！スパイダーマッ！スパイダーマッ！スパイダーマッ！</p>
            <a href ="review.html" class="cp_link">レビューを見る</a>
        </li>
    </div><!-- sub_rank2 -->
</ul>

<div class="nav">
    <ul>
        <li>1～10位</li>
        <li>11～20位</li>
        <li>21～30位</li>
        <li>31～40位</li>
        <li>41～50位</li>
    </ul>
</div><!-- nav -->

<p class="topback"><a href ="index.html">トップに戻る</a></p>


<script>
/*wiper.js の初期化処理*/
window.addEventListener('load', function() {
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    slidesPerView: 'auto',
    spaceBetween: 2,
    speed: 200,
    // autoplay: 2000
  });
}, false);
</script>

<script src="dist/js/swiper.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/script.js"></script>
</div>
</body>
</html>
