/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*ヘッダー開始*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
 
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*
.container {
  width: auto;
 
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

#header{
    background-color: #e1e1fd;
    padding-bottom: 10px;
    padding-top: 5px;
}

#header img{
    left:50%;
    width:1280px;
    height:400px;
}

#header > .login{
    text-align: right;
    margin-right: 20px;
    margin-top: 5px;
}

#sbox1{
    max-width: 300px;
    height: 30px;
    border-radius: 2px;
    outline: 0;
    margin-bottom: 10px;
    background: #eee;
    margin-left: 20px;	
}
/
#footer{
    text-align: center;
    background-color: #e1e1fd;
    height: 150px;
    line-height: 70px;
    
}
.footer2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}


.topback {
	text-align: right;
	margin-right: 20px;
}

.cp_link2 {
  position: relative;
  display: inline-block;
  transition: .3s;
}
.cp_link2::before,
.cp_link2::after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: #2299ff;
  transition: .3s;
}
.cp_link2::before {
  top: 0;
  left: 0;
}
.cp_link2::after {
  bottom: 0;
  right: 0;
}
.cp_link2:hover::before,
.cp_link2:hover::after {
  width: 100%;
}
*/