@charset "UTF-8";
.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 16px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 16px;
  line-height: 16px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}

.rate1:after {
  width: 16px;
}

.rate1-5:after {
  width: 24px;
}

.rate2:after {
  width: 32px;
}

.rate2-5:after {
  width: 40px;
}

.rate3:after {
  width: 48px;
}

.rate3-5:after {
  width: 56px;
}

.rate4:after {
  width: 64px;
}

.rate4-5:after {
  width: 72px;
}

.rate5:after {
  width: 80px;
}

.wrap {
  width: 80px;
  margin: 0 auto;
}
.star-rating {
  position: relative;
  display:inline-block;
  font-size: 16px;
}
.star-rating .star-rating-item{
  position:absolute;
  overflow: hidden;
}
.star-rating .star-rating-item:before{
  content:"★★★★★";
  color: #ffcc33;
}
.star-rating:after {
  content:"★★★★★";
  color: #ccc;
}