<div class="main reviews-index">
  <div class="container">
    <% @reviews.each do |review| %>
      <div class="reviews-index-item">
        <div class="review-left">
          <img src="<%= "/user_images/#{review.user.image_name}" %>">
        </div>
        <div class="review-right">
          <div class="review-user-name">
            <%= link_to(review.user.name, "/users/#{review.user.id}") %>
          </div>
          <%= link_to(review.content, "/reviews/#{review.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div class="col-xs-12 text-center">
  <div class="thumbnail">
    <h2>ボヘミアンラプソディー</h2>
    <img src="https://dl.dropboxusercontent.com/s/m4ye2buogo71l9d/Bohemian.jpg">
    <div class="caption" style="font-size: 17px;">
      <p>ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！</p>
    </div>
  </div>
</div>

<h3 class="page-header">評価</h3>
<form class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <form type="get" action="#">
      <div class="evaluation">
        <input id="star1" type="radio" name="star" value="5" />
        <label for="star1"><span class="text">最高</span>★</label>
        <input id="star2" type="radio" name="star" value="4" />
        <label for="star2"><span class="text">良い</span>★</label>
        <input id="star3" type="radio" name="star" value="3" />
        <label for="star3"><span class="text">普通</span>★</label>
        <input id="star4" type="radio" name="star" value="2" />
        <label for="star4"><span class="text">悪い</span>★</label>
        <input id="star5" type="radio" name="star" value="1" />
        <label for="star5"><span class="text">最悪</span>★</label>
      </div><!-- evaluation -->
      </form>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ask1">レビュー</label>
    <div class="col-sm-9">
      <textarea rows="5" class="form-control" id="ask1"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 text-right" style="margin-top: 30px;">
      <button class="btn btn-default">クリア</button>
      <button class="btn btn-primary">書き込む</button>
    </div>
  </div>
</form>

<h3 class="page-header">レビュー欄</h3>

<div class="well center-block" style="width:60%;">
  <h4>エリッククラプトン</h4>
  <p>そうですね～クイーンの曲、クイーン自体を知らなくても観て欲しい映画ですね～ ライヴエイドシーンはチビりそうになりました…というかトイレ行きたかっただけかも(笑)2Dなのにひとり4Dやらかすところでした(Д) #ボヘミアン胸アツ</p>
</div>

<div class="well center-block" style="width:60%;">
  <h4>MJ</h4>
  <p>先週末にボヘミアン・ラプソディー見てから、四六時中、頭の中でレディオ・ガ・ガがヘビロテ中！ #ボヘミアンラプソディ #ボヘミアン胸アツ</p>
</div>

</div>        <!-- 全体を囲むコンテナ -->

<!-- フッター始まり -->
<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Copyright (c) 2018 Apple Inc. All rights reserved.</p>
  </div>
</footer>
<!-- フッター終わり -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
