<div class="main reviews-index">
  <div class="container">
    <% @reviews.each do |review| %>
      <div class="reviews-index-item">
        <div class="review-left">
          <img src="<%= "/user_images/#{review.user.image_name}" %>">
        </div>
        <div class="review-right">
          <div class="review-user-name">
            <%= link_to(review.user.name, "/users/#{review.user.id}") %>
          </div>
          <%= link_to(review.content, "/reviews/#{review.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>





<div class="col-xs-12 text-center">
  <div class="thumbnail">
    <h1>第一位</h1>
    <p>評価</p>
    <h2>ボヘミアンラプソディー</h2>
    <img src="img/Bohemian.jpg">
    <div class="caption" style="font-size: 17px;">
      <p>ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！ドンドンパッ！</p>
    </div>
    <p>レビューを見る</p>
  </div>
</div>

<h3 class="page-header">評価</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="name1">お名前</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="name1">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="ask1">レビュー</label>
    <div class="col-sm-9">
      <textarea rows="5" class="form-control" id="ask1"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 text-right">
      <button class="btn btn-default">クリア</button>
      <button class="btn btn-primary">書き込む</button>
    </div>
  </div>
</form>

<h3 class="page-header">レビュー欄</h3>

<div class="well center-block" style="width:60%;">
  <h4>エリッククラプトン</h4>
  <p>そうですね～クイーンの曲、クイーン自体を知らなくても観て欲しい映画ですね～ ライヴエイドシーンはチビりそうになりました…というかトイレ行きたかっただけかも(笑)2Dなのにひとり4Dやらかすところでした(Д) #ボヘミアン胸アツ</p>
</div>

<div class="well center-block" style="width:60%;">
  <h4>MJ</h4>
  <p>先週末にボヘミアン・ラプソディー見てから、四六時中、頭の中でレディオ・ガ・ガがヘビロテ中！ #ボヘミアンラプソディ #ボヘミアン胸アツ</p>
</div>

</div>        <!-- 全体を囲むコンテナ -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
