<div class="main reviews-index">
  <div class="container">
    <% @reviews.each do |review| %>
      <div class="reviews-index-item">
        <div class="review-left">
          <img src="<%= "/user_images/#{review.user.image_name}" %>">
        </div>
        <div class="review-right">
          <div class="review-user-name">
            <%= link_to(review.user.name, "/users/#{review.user.id}") %>
          </div>
          <div><%# @reviews.movie.movie_name%></div>
          <div>★☆☆</div>
          <div><%= link_to(review.content, "/reviews/#{review.id}") %></div>
        </div>
      </div>
      
    <% end %>
  </div>
</div>

