<div class="main reveiws-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/reveiws/create") do %>
      <div class="form">
        <div class="form-body">
          <% @reveiw.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          
          <textarea name="content"><%= @reveiw.content %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>