    <footer id="footer">
      <div class="footer2">
        <a href ="company.html" class="cp_link2">会社概要・プライバシーポリシー</a>
      </div>
    <p>Copyright c 2018 Apple Inc. All rights reserved.</p>
    </footer>